In [1]:
using Random
using DataFrames
using CSV
using Statistics

struct Fighter
    name::String
    h::Int16
    f::Int16
    l::Int16
    t::Int16
end

const MXS = 10000
const MXV = 100
const MNV = 10

function random_fighter(h0::Int = MNV, f0::Int = MNV, l0::Int = MNV, t0::Int = MNV)::Fighter
    flag = true
    while flag
        h = h0 + rand(0:(MXV - h0), 1)[1]
        f = f0 + rand(0:(MXV - f0), 1)[1]
        l = l0 + rand(0:(MXV - l0), 1)[1]
        t = t0 + rand(0:(MXV - t0), 1)[1]
        mm = minimum([h, f])
        budget = h*f+h*l+f*t
        if budget <= MXS && budget + mm > MXS
            flag = false
            return Fighter("No Name", h, f, l, t)
        end
    end
end

function eval_battle(a::Fighter, b::Fighter)::Int
    a_finds = a.f >= b.h
    b_finds = b.f >= a.h
    if a_finds && b_finds
        if a.t > b.t
            return 1
        end
        if a.t < b.t
            return -1
        end
        if a.t == b.t
            if a.l > b.l
                return 1
            end
            if a.l < b.l
                return -1
            end
            if a.l == b.l
                if a.h > b.h
                    return 1
                end
                if a.h < b.h
                    return -1
                end
                if a.h == b.h
                    return 0
                end
            end
        end
    end
    if a_finds && !b_finds
        return 1
    end
    if !a_finds && b_finds
        return -1
    end
    if !a_finds && !b_finds
        if a.l > b.l
            return 1
        end
        if a.l < b.l
            return -1
        end
        if a.l == b.l
            if a.t > b.t
                return 1
            end
            if a.t < b.t
                return -1
            end
            if a.t == b.t
                if a.f > b.f
                    return 1
                end
                if a.f < b.f
                    return -1
                end
                if a.f == b.f
                    return 0
                end
            end
        end
    end
end

function random_tournament_winner(c::Int)::Fighter
    if c==0
        return random_fighter()
    end
    a = random_tournament_winner(c-1)
    b = random_tournament_winner(c-1)
    res = eval_battle(a, b)
    if res == 1
        return a
    else
        return b
    end
end


tab = CSV.read("census_yob2022_names.txt", DataFrame, header = false)
names = tab.Column1
adjectives = CSV.read("adjectives.csv", DataFrame)
nouns = CSV.read("nouns.csv", DataFrame)

function random_name_and_stat()::Fighter
    vp = [0, 0, 0, 0]
    nametype = rand(1:5)
    name = ""
    if nametype == 1 || nametype == 2
        nm = rand(names)
        adj_i = rand(1:nrow(adjectives))
        adj = adjectives[adj_i, :adjective]
        vp[1] = vp[1] + adjectives[adj_i, :H]
        vp[2] = vp[2] + adjectives[adj_i, :F]
        vp[3] = vp[3] + adjectives[adj_i, :L]
        vp[4] = vp[4] + adjectives[adj_i, :T]
        if nametype == 1
            name = string(nm, " the ", adj)
        end
        if nametype == 2
            name = string(adj, " ", nm)
        end
    end
    if nametype == 3 || nametype == 4
        nm = rand(names)
        noun_i = rand(1:nrow(nouns))
        noun = nouns[noun_i, :noun]
        vp[1] = vp[1] + nouns[noun_i, :H]
        vp[2] = vp[2] + nouns[noun_i, :F]
        vp[3] = vp[3] + nouns[noun_i, :L]
        vp[4] = vp[4] + nouns[noun_i, :T]    
        if nametype == 3
            name = string(nm, " the ", noun)
        end
        if nametype == 4
            name = string(noun, " ", nm)
        end
    end
    if nametype == 5
        adj_i = rand(1:nrow(adjectives))
        adj = adjectives[adj_i, :adjective]
        vp[1] = vp[1] + adjectives[adj_i, :H]
        vp[2] = vp[2] + adjectives[adj_i, :F]
        vp[3] = vp[3] + adjectives[adj_i, :L]
        vp[4] = vp[4] + adjectives[adj_i, :T]
        noun_i = rand(1:nrow(nouns))
        noun = nouns[noun_i, :noun]
        vp[1] = vp[1] + nouns[noun_i, :H]
        vp[2] = vp[2] + nouns[noun_i, :F]
        vp[3] = vp[3] + nouns[noun_i, :L]
        vp[4] = vp[4] + nouns[noun_i, :T]    
        name = string(adj, " ", noun)
    end
    Fighter(name, vp[1], vp[2], vp[3], vp[4])
end

function rand_rename(a::Fighter, n_tries::Int = 10)::Fighter
    best_score = 0.0
    best_b = random_name_and_stat()
    for ii in 1:n_tries
        b = random_name_and_stat()
        b_norm = sqrt(b.h^2 + b.f^2 + b.l^2 + b.t^2)
        score = (a.h * b.h + a.f * b.f + a.l * b.l + a.t * b.t)/b_norm
        if score > best_score
            best_score = score
            best_b = b
        end
    end
    return Fighter(best_b.name, a.h, a.f, a.l, a.t)
end

function eval_battle_list(a::Fighter, bs::Array{Fighter})::Int
    score = 0
    for ii in 1:length(bs)
        score = score + eval_battle(a, bs[ii])
    end
    return score
end

function pick_best(as::Array{Fighter}, bs::Array{Fighter})::Fighter
    bestscore = -999
    bestf = as[1]
    for ii in 1:length(as)
        score = eval_battle_list(as[ii], bs)
        if score > bestscore
            bestscore = score
            bestf = as[ii]
        end
    end
    return bestf
end

function pick_best_rdmly(as::Array{Fighter}, bs::Array{Fighter}, ntries::Int)::Fighter
    bestscore = -999
    bestf = rand(as)
    for ii in 1:ntries
        f = rand(as)
        score = eval_battle_list(f, bs)
        if score > bestscore
            bestscore = score
            bestf = f
        end
    end
    return bestf
end

function fighters_to_df(as::Array{Fighter})::DataFrame
    names = Array{String}(undef, length(as))
    hs = Array{Int}(undef, length(as))
    fs = Array{Int}(undef, length(as))
    ls = Array{Int}(undef, length(as))
    ts = Array{Int}(undef, length(as))
    for ii in 1:length(as)
        names[ii] = as[ii].name
        hs[ii] = as[ii].h
        fs[ii] = as[ii].f
        ls[ii] = as[ii].l
        ts[ii] = as[ii].t    
    end
    df = DataFrame(name = names, h = hs, f = fs, l = ls, t = ts)
    return df
end

function fpart(x::AbstractFloat)::AbstractFloat
  return x - trunc(x)
end

function eval_team_battle(as::Array{Fighter}, bs::Array{Fighter})::Int
    a_i = 1
    b_i = 1
    while (a_i <= length(as)) && (b_i <= length(bs))
        res = eval_battle(as[a_i], bs[b_i])
        if res == 1
            b_i = b_i + 1
        else
            a_i = a_i + 1
            if res == 0
                b_i = b_i + 1
            end
        end
    end
    a_out = (a_i > length(as))
    b_out = (b_i > length(as))
    if a_out
        if b_out
            return 0
        else
            return -1
        end
    else
        return 1
    end
end

eval_team_battle (generic function with 1 method)

In [2]:
function random_team(f::Function, team_size::Int)::Array{Fighter}
    team = Array{Fighter}(undef, team_size)
    for i in 1:team_size
        team[i] = f()
    end
    return team
end

random_team (generic function with 1 method)

In [3]:
library = Array{Fighter}(undef, 100000)
for i in 1:100000
    library[i] = rand_rename(random_fighter())
end

In [4]:
function evaluate_generator(f::Function, team_size::Int, n_times::Int = 1)::AbstractFloat
    scores = Array{AbstractFloat}(undef, n_times)
    for i0 in 1:n_times
        team = Array{Fighter}(undef, team_size)
        for i in 1:team_size
            team[i] = f()
        end
        bestscore = 999999
        exploiter = library[1]
        for i in 1:length(library)
            fighter = library[i]
            score = 0
            for j in 1:team_size
                score = score + eval_battle(team[j], fighter)
            end
            if score < bestscore
                bestscore = score
                exploiter = library[i]
            end
        end
        if n_times < 5
            println(exploiter)        
        end
        scores[i0] = bestscore/team_size
    end
    return mean(scores)
end

evaluate_generator (generic function with 2 methods)

In [89]:
# new random generation to more closely approximate Nash
function random_scheme_b(budget::Int = MXS, h0::Int = MNV, f0::Int = MNV, l0::Int = MNV, t0::Int = MNV)::Fighter
    opt = rand([1,1,1,1, 2,2, 3,3, 4,4,4, 5,5,5, 6,6, 7,7, 8,8, 9,9])
    flip = (rand() < 0.5)
    r1 = rand()
    r2 = rand()^(0.3)
    r3 = rand()
    #           1     2     3.    4.    5.    6.    7.    8.    9. 
    h_mins =  [03.5, 05.4, 06.8, 07.5, 08.6, 09.2, 09.6, 10.2, 10.5]
    h_maxs =  [05.4, 06.8, 07.2, 08.6, 09.2, 09.6, 10.2, 10.5, 11.0]
    hl_mins = [40.0, 20.0, 12.0, 10.0, 10.0, 11.0, 20.0, 20.0, 20.0]
    hl_maxs = [65.0, 72.0, 54.0, 30.0, 38.0, 50.0, 30.0, 30.0, 40.0]
    h_raw = h_mins[opt] + (h_maxs[opt] - h_mins[opt]) * r1
    hl_raw = hl_mins[opt] + (hl_maxs[opt] - hl_mins[opt]) * r2
    l_raw = hl_raw/h_raw
    b_r = 100 - hl_raw # budget remaining raw
    f_min = b_r/15 # find given 15 tickle
    f_min = max(1, (b_r - h_raw * f_min)/15)
    f_min = max(1, (b_r - h_raw * f_min)/15)
    f_max = min((b_r - 15)/h_raw, h_raw)
    f_max = min((b_r - f_max)/h_raw, h_raw)
    f_max = min((b_r - f_max)/h_raw, h_raw)
    f_raw = f_min + (f_max - f_min) * r2
    mult = sqrt(budget/100)
    h = round(mult * h_raw)
    f = round(mult * f_raw)
    l = round(mult * l_raw)
    t = trunc((budget - h*f - h*l)/f)
    budget_sofar = h*f + h*l + f*t
    #println((h_raw, f_raw, l_raw, hl_raw, b_r, f_min, f_max))
    #println((h_raw, f_raw, l_raw, h, f, l, t, opt, hl_raw, budget_sofar, r1, r2, r3))
    if (budget - budget_sofar) >= min(h, f)
        could_add_l = (budget - budget_sofar) >= h
        could_add_t = (budget - budget_sofar) >= f
        if could_add_l && !could_add_t
            l = l+trunc((budget - budget_sofar)/h)
        end
        if !could_add_l && could_add_t
            t = t+trunc((budget - budget_sofar)/f)
        end
        if could_add_l && could_add_t
            if fpart(lraw) > fpart(traw)
                l = l+trunc((budget - budget_sofar)/h)
            else
                t = t+trunc((budget - budget_sofar)/f)
            end
        end
    end
    h = convert(Int, h)
    f = convert(Int, f)
    l = convert(Int, l)
    t = convert(Int, t)
    if flip
        ff = Fighter(string("Scheme B-", opt), f, h, t, l)
    else
        ff = Fighter(string("Scheme B+", opt), h, f, l, t)
    end
    return ff
end

#evaluate_generator(random_scheme_a, 1000, 50)

random_scheme_b (generic function with 6 methods)

In [90]:
rt = random_team(() -> random_scheme_b(), 1000)
counters = random_team(() -> pick_best_rdmly(library, rt, 25), 100)
rt = random_team(() -> random_scheme_b(), 100)
for f in counters[1:5]
    v = eval_battle_list(f, rt)
    print(v)
    print(" ")
end
fighters_to_df(counters[1:5])

28 54 38 34 30

5×5 DataFrame
 Row │ name                h      f      l      t
     │ String              Int64  Int64  Int64  Int64
─────┼────────────────────────────────────────────────
   1 │ Mouse Oonagh           98     53     37     22
   2 │ Kymoni the Ninja       73     65     36     40
   3 │ Dancing Armadillo      74     62     44     34
   4 │ Rhea the Ninja         72     65     44     33
   5 │ Zyaira the Dynamic     94     40     57     22

In [91]:
rt = random_team(() -> random_scheme_b(), 100)
fighters_to_df(rt)[1:15, :]

15×5 DataFrame
 Row │ name        h      f      l      t
     │ String      Int64  Int64  Int64  Int64
─────┼────────────────────────────────────────
   1 │ Scheme B+7     97     53     25     45
   2 │ Scheme B-5     55     88     57     23
   3 │ Scheme B+5     89     62     38     17
   4 │ Scheme B-7     63     97     15     30
   5 │ Scheme B+6     95     51     36     34
   6 │ Scheme B-1     48     49     27    129
   7 │ Scheme B+9    107     51     37     11
   8 │ Scheme B+1     43     35    122     92
   9 │ Scheme B+6     92     49     53     12
  10 │ Scheme B-8     61    103     11     29
  11 │ Scheme B-1     33     35     80    177
  12 │ Scheme B-4     75     81     14     35
  13 │ Scheme B+5     87     60     31     34
  14 │ Scheme B+2     65     39    106     14
  15 │ Scheme B-5     63     88     10     43

In [7]:
budget = MXS
h0 = MNV
f0 = MNV
l0 = MNV
t0 = MNV

#opt = rand(1:9)
opt = 4
#flip = (rand() < 0.5)
flip = false
r1 = rand()
r2 = rand()^(0.3)
r3 = rand()
h_mins =  [04.0, 06.0, 07.0, 08.0, 10.0, 12.0, 12.5, 13.0, 13.5]
h_maxs =  [06.0, 07.0, 08.0, 10.0, 12.0, 12.5, 13.0, 13.5, 15.0]
hl_mins = [48.0, 50.0, 52.0, 11.0, 26.0, 20.0, 20.0, 20.0, 20.0]
hl_maxs = [70.0, 72.0, 74.0, 30.0, 78.0, 30.0, 30.0, 30.0, 40.0]
h_raw = h_mins[opt] + (h_maxs[opt] - h_mins[opt]) * r1
hl_raw = hl_mins[opt] + (hl_maxs[opt] - hl_mins[opt]) * r2
l_raw = hl_raw/h_raw
b_r = 100 - hl_raw # budget remaining raw
f_min = b_r/15 # find given 15 tickle
f_min = max(1, (b_r - h_raw * f_min)/15)
f_min = max(1, (b_r - h_raw * f_min)/15)
f_max = min((b_r - 15)/h_raw, h_raw)
f_max = min((b_r - f_max)/h_raw, h_raw)
f_max = min((b_r - f_max)/h_raw, h_raw)
f_raw = f_min + (f_max - f_min) * r2
mult = sqrt(budget/100)
h = round(mult * h_raw)
f = round(mult * f_raw)
l = round(mult * l_raw)
t = trunc((budget - h*f - h*l)/f)
budget_sofar = h*f + h*l + f*t
println((h_raw, f_raw, l_raw, hl_raw, b_r, f_min, f_max))
println((h_raw, f_raw, l_raw, h, f, l, t, opt, hl_raw, budget_sofar, r1, r2, r3))
if (budget - budget_sofar) >= min(h, f)
    could_add_l = (budget - budget_sofar) >= h
    could_add_t = (budget - budget_sofar) >= f
    if could_add_l && !could_add_t
        l = l+trunc((budget - budget_sofar)/h)
    end
    if !could_add_l && could_add_t
        t = t+trunc((budget - budget_sofar)/f)
    end
    if could_add_l && could_add_t
        if fpart(lraw) > fpart(traw)
            l = l+trunc((budget - budget_sofar)/h)
        else
            t = t+trunc((budget - budget_sofar)/f)
        end
    end
end
h = convert(Int, h)
f = convert(Int, f)
l = convert(Int, l)
t = convert(Int, t)
if flip
    ff = Fighter(string("Scheme B-", opt), f, h, t, l)
else
    ff = Fighter(string("Scheme B+", opt), h, f, l, t)
end
return ff

println((h, f, l, t, opt, budget_sofar, r1, r2, r3))
println(ff)

(9.825462703157513, 6.427759161751591, 3.001875108503988, 29.494811918142847, 70.50518808185716, 3.6382301653505977, 6.503955492334131)
(9.825462703157513, 6.427759161751591, 3.001875108503988, 98.0, 64.0, 30.0, 12.0, 4, 29.494811918142847, 9980.0, 0.9127313515787565, 0.9734111535864657, 0.4060806004371126)
(98, 64, 30, 12, 4, 9980.0, 0.9127313515787565, 0.9734111535864657, 0.4060806004371126)
Fighter("Scheme B+4", 98, 64, 30, 12)

## Testing Random Scheme B

In [8]:
f = random_scheme_b()
print(f)
f.h * f.f + f.h * f.l + f.f * f.t

Fighter("Scheme B+1", 47, 38, 120, 67)

9972

In [9]:
rt = random_team(() -> random_scheme_b(), 1000)
fighters_to_df(rt)[1:10, :]

10×5 DataFrame
 Row │ name        h      f      l      t
     │ String      Int64  Int64  Int64  Int64
─────┼────────────────────────────────────────
   1 │ Scheme B+1     56     52    113     14
   2 │ Scheme B+9    137     42     25     19
   3 │ Scheme B-8     55    115     12     26
   4 │ Scheme B-7     59     96     27     28
   5 │ Scheme B+3     72     58     68     16
   6 │ Scheme B+9    139     41     24     23
   7 │ Scheme B-1     48     53     27    116
   8 │ Scheme B+2     64     41    105     16
   9 │ Scheme B+5     87     60     30     36
  10 │ Scheme B-7     61     97     20     29

In [10]:
counters = random_team(() -> pick_best_rdmly(library, rt, 25), 100)
fighters_to_df(counters)[1:10, :]

10×5 DataFrame
 Row │ name                     h      f      l      t
     │ String                   Int64  Int64  Int64  Int64
─────┼─────────────────────────────────────────────────────
   1 │ Monkey Emmaleigh            72     67     32     42
   2 │ Sekani the Cricket          97     25     72     23
   3 │ Maliek the Blimp            97     20     78     24
   4 │ Asah the Blueberry          89     54     39     31
   5 │ Ninja Eleana                68     75     33     35
   6 │ Mouse Righteous             56     89     14     47
   7 │ Aavyaan the Flirtatious     99     54     39     14
   8 │ Wally the Engineer          10     88     32    100
   9 │ Fish Sena                   75     60     47     32
  10 │ Flirtatious Rascal          93     15     85     46

In [11]:
rt = random_team(() -> random_scheme_b(), 100)
0

0

In [12]:
for f in counters[1:20]
    v = eval_battle_list(f, rt)
    if v > 30
        println(f)
        println(v)
    end
end

Fighter("Monkey Emmaleigh", 72, 67, 32, 42)
58
Fighter("Sekani the Cricket", 97, 25, 72, 23)
42
Fighter("Maliek the Blimp", 97, 20, 78, 24)
46
Fighter("Asah the Blueberry", 89, 54, 39, 31)
36
Fighter("Ninja Eleana", 68, 75, 33, 35)
56
Fighter("Aavyaan the Flirtatious", 99, 54, 39, 14)
44
Fighter("Wally the Engineer", 10, 88, 32, 100)
42
Fighter("Fish Sena", 75, 60, 47, 32)
44
Fighter("Flirtatious Rascal", 93, 15, 85, 46)
40
Fighter("Goldfish Journeigh", 100, 12, 84, 33)
58
Fighter("Ancient Balloon", 49, 99, 24, 40)
42
Fighter("Fiery Doctor", 20, 95, 44, 76)
42
Fighter("Krysten the Sassy", 65, 68, 49, 35)
46
Fighter("Liev the Laptop", 66, 76, 36, 34)
56
Fighter("Israfil the Xylophone", 16, 98, 67, 75)
54
Fighter("Sheltering Graylen", 73, 63, 44, 34)
54
Fighter("Amonte the Ladder", 22, 97, 40, 72)
38
Fighter("Massive Doorman", 34, 93, 12, 69)
32
Fighter("Ramsi the Fish", 100, 32, 62, 18)
46

In [13]:
for f in rt[1:20]
    v = eval_battle_list(f, counters)
    if v < -80
        println(f)
        println(v)
    end
end

In [14]:
for f in rt
    v = eval_battle_list(f, counters)
    if v > 50
        println(f)
        println(v)
    end
end

In [15]:
evaluate_generator(random_scheme_b, 100, 20)

-0.7300000000000001

In [16]:
evaluate_generator(random_fighter, 100, 20)

-0.8600000000000001

In [17]:
evaluate_generator(() -> random_tournament_winner(1), 100, 20)

-0.8619999999999999

In [18]:
evaluate_generator(() -> random_tournament_winner(2), 100, 20)

-0.8370000000000001

In [19]:
evaluate_generator(() -> random_tournament_winner(3), 100, 20)

-0.808

In [20]:
evaluate_generator(() -> random_tournament_winner(4), 100, 20)

-0.7930000000000001

## Team battles

In [21]:
team_a = random_team(() -> rand_rename(random_scheme_b()), 100)
team_r0 = random_team(() -> rand_rename(random_tournament_winner(0)), 100)
team_r1 = random_team(() -> rand_rename(random_tournament_winner(1)), 100)
team_r2 = random_team(() -> rand_rename(random_tournament_winner(2)), 100)

100-element Vector{Fighter}:
 Fighter("Ingenious Yak", 67, 55, 69, 30)
 Fighter("Superficial Lion", 44, 71, 43, 70)
 Fighter("Snake Kathryne", 90, 78, 24, 10)
 Fighter("Legaci the Pig", 39, 83, 15, 74)
 Fighter("Cricket Emyrson", 66, 68, 67, 16)
 Fighter("Kasai the Urchin", 21, 93, 51, 75)
 Fighter("Kooky Cobbler", 66, 35, 67, 93)
 Fighter("Lion Malayjah", 56, 43, 62, 95)
 Fighter("Tiger Greysen", 52, 63, 34, 78)
 Fighter("Dalasia the Zany", 60, 94, 14, 37)
 Fighter("Wallet Angelino", 93, 32, 70, 16)
 Fighter("Yoyo Luxanna", 85, 37, 41, 91)
 Fighter("Yarizel the Duck", 63, 31, 93, 70)
 ⋮
 Fighter("Kiran the Ninja", 84, 78, 31, 10)
 Fighter("Aera the Pteranodon", 94, 29, 47, 98)
 Fighter("Itinerant Iridessa", 85, 48, 32, 66)
 Fighter("Jagger the Strawberry", 74, 33, 93, 20)
 Fighter("Young Commander", 86, 60, 49, 10)
 Fighter("Marmot Iyanuoluwa", 98, 38, 42, 56)
 Fighter("Marmot Peneloperose", 62, 31, 98, 64)
 Fighter("Boisterous Mantis", 54, 81, 27, 51)
 Fighter("Zyliah the Mushroom", 98, 35, 32, 98)
 Fighter("Zipper Kaio", 79, 45, 52, 51)
 Fighter("Dangerous Wizard", 59, 81, 25, 46)
 Fighter("Elegant Zebra", 88, 33, 64, 44)

In [22]:
eval_team_battle(team_a, counters)

-1

In [23]:
eval_team_battle(team_a, team_r0)

-1

In [24]:
eval_team_battle(team_a, team_r1)

-1

In [25]:
eval_team_battle(team_a, team_r2)

-1

In [26]:
eval_team_battle(team_r0, team_a)

1

In [27]:
eval_team_battle(team_r0, team_r1)

1

In [28]:
eval_team_battle(team_r0, team_r2)

-1

In [29]:
bs = team_a
as = team_r0
a_i = 1
b_i = 1
print("         ")
println(as[a_i])
print("         ")
println(bs[b_i])
while (a_i <= length(as)) && (b_i <= length(bs))
    res = eval_battle(as[a_i], bs[b_i])
    if res == 1
        println(string(as[a_i].name, " won against ", bs[b_i].name))
        b_i = b_i + 1
        print("         ")
        println(bs[b_i])
    else
        if res == 0
            println(string(as[a_i].name, " tied against ", bs[b_i].name))
            b_i = b_i + 1
            print("         ")
            println(bs[b_i])
        else
            println(string(as[a_i].name, " lost against ", bs[b_i].name))
        end
        a_i = a_i + 1
        print("         ")
        println(as[a_i])
    end
end
a_out = (a_i > length(as))
b_out = (b_i > length(as))
if a_out
    if b_out
        return 0
    else
        return -1
    end
else
    return 1
end

         Fighter("Umbrella Livienne", 95, 61, 31, 20)
         Fighter("Ninja Quintus", 89, 61, 35, 23)
Umbrella Livienne lost against Ninja Quintus
         Fighter("Crystal Warthog", 15, 85, 83, 88)
Crystal Warthog lost against Ninja Quintus
         Fighter("Neurotic Archer", 58, 66, 37, 61)
Neurotic Archer lost against Ninja Quintus
         Fighter("Gentle Butler", 72, 94, 21, 18)
Gentle Butler won against Ninja Quintus
         Fighter("Deen the Nerdy", 94, 66, 30, 14)
Gentle Butler won against Deen the Nerdy
         Fighter("Fish Matthan", 94, 59, 22, 40)
Gentle Butler won against Fish Matthan
         Fighter("Helicopter Ariabella", 55, 78, 24, 56)
Gentle Butler lost against Helicopter Ariabella
         Fighter("Shovel Torin", 43, 65, 57, 73)
Shovel Torin won against Helicopter Ariabella
         Fighter("Primordial Quilt", 136, 41, 29, 11)
Shovel Torin won against Primordial Quilt
         Fighter("Calm Sphere", 68, 85, 25, 29)
Shovel Torin lost against Calm Sphere
         Fighter("Zhion the Sheltering", 75, 64, 25, 51)
Zhion the Sheltering lost against Calm Sphere
         Fighter("Superficial Rhino", 37, 66, 49, 87)
Superficial Rhino lost against Calm Sphere
         Fighter("Nutritious Wilfred", 63, 38, 78, 70)
Nutritious Wilfred lost against Calm Sphere
         Fighter("Accurate Car", 86, 67, 20, 37)
Accurate Car lost against Calm Sphere
         Fighter("Sreshta the Sphere", 57, 38, 83, 81)
Sreshta the Sphere lost against Calm Sphere
         Fighter("Alexia the Primordial", 74, 48, 49, 58)
Alexia the Primordial lost against Calm Sphere
         Fighter("Currency the Phoenix", 54, 34, 90, 97)
Currency the Phoenix lost against Calm Sphere
         Fighter("Knotty Shovel", 54, 95, 30, 34)
Knotty Shovel won against Calm Sphere
         Fighter("Snake Kaysha", 93, 64, 28, 22)
Knotty Shovel won against Snake Kaysha
         Fighter("Gwenevieve the Nerdy", 63, 87, 19, 38)
Knotty Shovel lost against Gwenevieve the Nerdy
         Fighter("Tatem the Superficial", 31, 78, 86, 63)
Tatem the Superficial won against Gwenevieve the Nerdy
         Fighter("Scorpion Leviah", 66, 91, 19, 30)
Tatem the Superficial won against Scorpion Leviah
         Fighter("Archer Nardos", 46, 64, 53, 72)
Tatem the Superficial lost against Archer Nardos
         Fighter("Scorpion Serafina", 71, 85, 24, 26)
Scorpion Serafina won against Archer Nardos
         Fighter("Potassium Zookeeper", 60, 97, 24, 28)
Scorpion Serafina lost against Potassium Zookeeper
         Fighter("Alvi the Spider", 70, 90, 22, 24)
Alvi the Spider lost against Potassium Zookeeper
         Fighter("Samurai Aubryanna", 24, 71, 67, 94)
Samurai Aubryanna won against Potassium Zookeeper
         Fighter("Cube Christina", 42, 49, 49, 120)
Samurai Aubryanna lost against Cube Christina
         Fighter("Cobbler Christia", 52, 65, 83, 35)
Cobbler Christia won against Cube Christina
         Fighter("Nerdy Kimo", 41, 138, 15, 27)
Cobbler Christia won against Nerdy Kimo
         Fighter("Usman the Merciful", 71, 57, 75, 11)
Cobbler Christia lost against Usman the Merciful
         Fighter("Alicja the Blind", 59, 32, 86, 94)
Alicja the Blind won against Usman the Merciful
         Fighter("Elegant Aadav", 61, 86, 32, 32)
Alicja the Blind lost against Elegant Aadav
         Fighter("Tyro Ameri", 73, 35, 87, 31)
Tyro Ameri lost against Elegant Aadav
         Fighter("Gentle Bethlehem", 100, 71, 18, 15)
Gentle Bethlehem won against Elegant Aadav
         Fighter("Aashrith the Cheetah", 87, 61, 34, 28)
Gentle Bethlehem lost against Aashrith the Cheetah
         Fighter("Nutritious Aleska", 65, 61, 62, 32)
Nutritious Aleska won against Aashrith the Cheetah
         Fighter("Elegant Sarkis", 57, 52, 111, 13)
Nutritious Aleska won against Elegant Sarkis
         Fighter("Flirtatious Lamp", 41, 139, 13, 27)
Nutritious Aleska won against Flirtatious Lamp
         Fighter("Khoi the Eel", 42, 61, 14, 112)
Nutritious Aleska won against Khoi the Eel
         Fighter("Rogue Tanna", 139, 41, 27, 13)
Nutritious Aleska won against Rogue Tanna
         Fighter("Zeki the Hammer", 42, 64, 17, 103)
Nutritious Aleska won against Zeki the Hammer
         Fighter("Yellow Pig", 72, 85, 14, 33)
Nutritious Aleska lost against Yellow Pig
         Fighter("Dorrian the Nutritious", 47, 84, 80, 27)
Dorrian the Nutritious lost against Yellow Pig
         Fighter("Xact Vampire", 79, 82, 20, 23)
Xact Vampire lost against Yellow Pig
         Fighter("Luminous Jacket", 45, 87, 88, 24)
Luminous Jacket lost against Yellow Pig
         Fighter("Scorpion Jahsir", 67, 72, 33, 41)
Scorpion Jahsir won against Yellow Pig
         Fighter("Daesyn the Lawyer", 50, 126, 18, 22)
Scorpion Jahsir won against Daesyn the Lawyer
         Fighter("Armadillo Kethan", 89, 63, 42, 10)
Scorpion Jahsir lost against Armadillo Kethan
         Fighter("Melodious Train", 67, 25, 95, 78)
Melodious Train won against Armadillo Kethan
         Fighter("Dangerous Mantis", 52, 67, 55, 54)
Melodious Train lost against Dangerous Mantis
         Fighter("Jumpy Dodecahedron", 96, 40, 31, 79)
Jumpy Dodecahedron lost against Dangerous Mantis
         Fighter("Braelin the Quiet", 82, 75, 21, 28)
Braelin the Quiet won against Dangerous Mantis
         Fighter("Ninja Mali", 75, 81, 14, 35)
Braelin the Quiet won against Ninja Mali
         Fighter("Agile Greer", 95, 65, 30, 15)
Braelin the Quiet lost against Agile Greer
         Fighter("Stegosaurus Rian", 72, 35, 58, 94)
Stegosaurus Rian won against Agile Greer
         Fighter("Arieli the Armadillo", 136, 41, 29, 11)
Stegosaurus Rian won against Arieli the Armadillo
         Fighter("Tavish the Butler", 70, 84, 21, 31)
Stegosaurus Rian lost against Tavish the Butler
         Fighter("Umpire Avian", 30, 95, 42, 62)
Umpire Avian won against Tavish the Butler
         Fighter("Kyri the Manta", 44, 44, 36, 147)
Umpire Avian lost against Kyri the Manta
         Fighter("Blimp Knoxli", 81, 51, 58, 22)
Blimp Knoxli won against Kyri the Manta
         Fighter("Joy the Mushroom", 100, 51, 24, 49)
Blimp Knoxli won against Joy the Mushroom
         Fighter("Coder Yiyi", 91, 69, 33, 10)
Blimp Knoxli won against Coder Yiyi
         Fighter("Butler Cymone", 73, 83, 15, 34)
Blimp Knoxli lost against Butler Cymone
         Fighter("Armadillo Olyve", 48, 70, 24, 78)
Armadillo Olyve lost against Butler Cymone
         Fighter("Ancient Paper", 90, 49, 50, 22)
Ancient Paper won against Butler Cymone
         Fighter("Disciplined Deveah", 84, 63, 24, 42)
Ancient Paper won against Disciplined Deveah
         Fighter("Tricky Kangaroo", 76, 55, 67, 13)
Ancient Paper lost against Tricky Kangaroo
         Fighter("Fabrizzio the Sphere", 55, 47, 89, 53)
Fabrizzio the Sphere lost against Tricky Kangaroo
         Fighter("Dizzy Ladder", 60, 38, 65, 100)
Dizzy Ladder lost against Tricky Kangaroo
         Fighter("Energetic Vampire", 51, 47, 64, 92)
Energetic Vampire lost against Tricky Kangaroo
         Fighter("Talayla the Yoyo", 52, 67, 93, 25)
Talayla the Yoyo lost against Tricky Kangaroo
         Fighter("Superficial Duck", 68, 76, 39, 28)
Superficial Duck won against Tricky Kangaroo
         Fighter("Zylie the Nightingale", 45, 65, 22, 93)
Superficial Duck won against Zylie the Nightingale
         Fighter("Susan the Yellow", 95, 63, 30, 18)
Superficial Duck won against Susan the Yellow
         Fighter("Snake Cache", 85, 63, 36, 25)
Superficial Duck won against Snake Cache
         Fighter("Old Vesta", 48, 121, 39, 19)
Superficial Duck won against Old Vesta
         Fighter("Knight Jamall", 38, 64, 12, 111)
Superficial Duck won against Knight Jamall
         Fighter("Aser the Orangutan", 45, 59, 39, 94)
Superficial Duck won against Aser the Orangutan
         Fighter("Munasir the Naughty", 93, 67, 32, 11)
Superficial Duck won against Munasir the Naughty
         Fighter("Kanaan the Gemstone", 70, 59, 68, 18)
Superficial Duck won against Kanaan the Gemstone
         Fighter("Giraffe Yeabsira", 74, 84, 11, 35)
Superficial Duck lost against Giraffe Yeabsira
         Fighter("Disciplined Iguana", 39, 82, 20, 73)
Disciplined Iguana won against Giraffe Yeabsira
         Fighter("Gentle Mathematician", 88, 61, 35, 25)
Disciplined Iguana lost against Gentle Mathematician
         Fighter("Davide the Kingly", 28, 76, 58, 82)
Davide the Kingly lost against Gentle Mathematician
         Fighter("Ingenious Stegosaurus", 55, 58, 79, 42)
Ingenious Stegosaurus lost against Gentle Mathematician
         Fighter("Ted the Naughty", 79, 85, 11, 28)
Ted the Naughty lost against Gentle Mathematician
         Fighter("Jerod the Car", 95, 36, 37, 85)
Jerod the Car won against Gentle Mathematician
         Fighter("Lawyer Lenox", 62, 88, 17, 39)
Jerod the Car won against Lawyer Lenox
         Fighter("Brutal Artist", 53, 72, 52, 47)
Jerod the Car lost against Brutal Artist
         Fighter("Turbo Urchin", 79, 87, 24, 14)
Turbo Urchin won against Brutal Artist
         Fighter("Yoyo Maybrie", 117, 53, 24, 18)
Turbo Urchin lost against Yoyo Maybrie
         Fighter("Demontae the Merciful", 68, 87, 40, 15)
Demontae the Merciful won against Yoyo Maybrie
         Fighter("Little Student", 98, 60, 28, 22)
Demontae the Merciful won against Little Student
         Fighter("Wise Eleanora", 79, 53, 63, 15)
Demontae the Merciful won against Wise Eleanora
         Fighter("Superficial Pig", 63, 81, 43, 27)
Demontae the Merciful lost against Superficial Pig
         Fighter("Shark Issa", 58, 58, 31, 83)
Shark Issa lost against Superficial Pig
         Fighter("Ricky the Zookeeper", 76, 57, 38, 48)
Ricky the Zookeeper lost against Superficial Pig
         Fighter("Boisterous Airplane", 43, 51, 70, 94)
Boisterous Airplane lost against Superficial Pig
         Fighter("Doorman Briseyda", 86, 18, 91, 34)
Doorman Briseyda won against Superficial Pig
         Fighter("Leticia the Lucid", 82, 73, 33, 17)
Doorman Briseyda won against Leticia the Lucid
         Fighter("Octopus Harley", 62, 66, 15, 75)
Doorman Briseyda won against Octopus Harley
         Fighter("Mosquito Khole", 135, 46, 18, 29)
Doorman Briseyda won against Mosquito Khole
         Fighter("Kinsey the Calm", 70, 85, 20, 31)
Doorman Briseyda won against Kinsey the Calm
         Fighter("Candle Kayanni", 49, 49, 131, 24)
Doorman Briseyda lost against Candle Kayanni
         Fighter("Manta Drago", 84, 27, 63, 90)
Manta Drago lost against Candle Kayanni
         Fighter("Pie Sakani", 42, 47, 91, 89)
Pie Sakani lost against Candle Kayanni
         Fighter("Passive Pug", 38, 85, 86, 41)
Passive Pug won against Candle Kayanni
         Fighter("Pierce the Quail", 99, 48, 23, 61)
Passive Pug lost against Pierce the Quail
         Fighter("Duck Jadan", 80, 49, 34, 68)
Duck Jadan won against Pierce the Quail
         Fighter("Tanvi the Terrible", 55, 75, 11, 70)
Duck Jadan won against Tanvi the Terrible
         Fighter("Zookeeper Deveraux", 49, 127, 22, 21)
Duck Jadan won against Zookeeper Deveraux
         Fighter("Shy Khyaire", 89, 62, 40, 14)
Duck Jadan lost against Shy Khyaire
         Fighter("Potassium Marmot", 59, 38, 97, 53)
Potassium Marmot lost against Shy Khyaire
         Fighter("Dynamic Gamer", 84, 30, 53, 100)
Dynamic Gamer won against Shy Khyaire
         Fighter("Shy Spider", 84, 72, 32, 17)
Dynamic Gamer won against Shy Spider
         Fighter("Shantel the Mouse", 61, 89, 25, 34)
Dynamic Gamer lost against Shantel the Mouse
         Fighter("Dizzy Piano", 78, 23, 84, 71)
Dizzy Piano lost against Shantel the Mouse
         Fighter("Robot Mayaken", 47, 84, 16, 63)
Robot Mayaken won against Shantel the Mouse
         Fighter("Betsaida the Balloon", 60, 45, 81, 54)
Robot Mayaken won against Betsaida the Balloon
         Fighter("Neurotic Jrake", 101, 56, 26, 30)
Robot Mayaken lost against Neurotic Jrake
         Fighter("Ravenous Piano", 26, 99, 26, 68)
Ravenous Piano lost against Neurotic Jrake
         Fighter("Kenli the Cricket", 62, 68, 68, 23)
Kenli the Cricket won against Neurotic Jrake
         Fighter("Sassy Mouse", 90, 69, 32, 13)
Kenli the Cricket lost against Sassy Mouse
         Fighter("Yardstick Brookes", 60, 74, 21, 58)
Yardstick Brookes lost against Sassy Mouse
         Fighter("Helicopter Luxor", 81, 59, 29, 48)
Helicopter Luxor lost against Sassy Mouse
         Fighter("Kamour the Wombat", 100, 68, 14, 26)
Kamour the Wombat lost against Sassy Mouse
         Fighter("Puppy Jeric", 60, 38, 93, 56)
Puppy Jeric lost against Sassy Mouse
         Fighter("Manta Leeba", 47, 48, 66, 96)
Manta Leeba lost against Sassy Mouse
         Fighter("Lilit the Powerful", 23, 83, 48, 84)
Lilit the Powerful lost against Sassy Mouse
         Fighter("Kaimari the Cheetah", 84, 38, 46, 77)
Kaimari the Cheetah won against Sassy Mouse
         Fighter("Zanova the Yellow", 139, 41, 26, 16)
Kaimari the Cheetah won against Zanova the Yellow
         Fighter("Lavar the Fish", 95, 67, 32, 8)
Kaimari the Cheetah won against Lavar the Fish
         Fighter("Yuliet the Paper", 96, 56, 27, 36)
Kaimari the Cheetah won against Yuliet the Paper
         Fighter("Jahkarri the Studious", 41, 140, 15, 26)
Kaimari the Cheetah lost against Jahkarri the Studious
         Fighter("Charming Gamer", 24, 91, 98, 60)
Charming Gamer won against Jahkarri the Studious
         Fighter("Elegant Navee", 60, 98, 22, 28)
Charming Gamer won against Elegant Navee
         Fighter("Xailee the Passive", 135, 43, 24, 22)
Charming Gamer lost against Xailee the Passive
         Fighter("Abdulwali the Itinerant", 76, 55, 63, 18)
Abdulwali the Itinerant won against Xailee the Passive
         Fighter("Sassy Quail", 125, 51, 23, 14)
Abdulwali the Itinerant won against Sassy Quail
         Fighter("Ninja Jamael", 58, 83, 57, 22)
Abdulwali the Itinerant lost against Ninja Jamael
         Fighter("Enzo the Rock", 25, 77, 67, 83)
Enzo the Rock won against Ninja Jamael
         Fighter("Aether the Nerdy", 140, 40, 28, 12)
Enzo the Rock lost against Aether the Nerdy
         Fighter("Koala Justin", 46, 52, 93, 64)
Koala Justin won against Aether the Nerdy
         Fighter("Helicopter Crosley", 65, 85, 12, 43)
Koala Justin lost against Helicopter Crosley
         Fighter("Jumpy Artist", 45, 63, 92, 48)
Jumpy Artist lost against Helicopter Crosley
         Fighter("Sheltering Coder", 71, 68, 54, 19)
Sheltering Coder lost against Helicopter Crosley
         Fighter("Jacket Saahas", 83, 55, 58, 11)
Jacket Saahas lost against Helicopter Crosley
         Fighter("Robot Akane", 83, 63, 27, 40)
Robot Akane lost against Helicopter Crosley
         Fighter("Axelson the Shiny", 39, 93, 99, 27)
Axelson the Shiny lost against Helicopter Crosley
         Fighter("Galo the Pizza", 56, 70, 66, 34)
Galo the Pizza lost against Helicopter Crosley
         Fighter("Jesse the Minimal", 84, 36, 67, 37)
Jesse the Minimal lost against Helicopter Crosley
         Fighter("Frozen Rock", 40, 68, 35, 86)
Frozen Rock won against Helicopter Crosley
         Fighter("Icosahedron Rayshaun", 99, 61, 29, 17)
Frozen Rock lost against Icosahedron Rayshaun

         Fighter("Kitten Gleyber", 48, 51, 98, 55)
Kitten Gleyber lost against Icosahedron Rayshaun
         Fighter("Itinerant Cat", 64, 58, 62, 40)
Itinerant Cat won against Icosahedron Rayshaun
         Fighter("Quail Chet", 82, 72, 32, 20)
Itinerant Cat lost against Quail Chet
         Fighter("Nice Cheetah", 67, 55, 20, 90)
Nice Cheetah lost against Quail Chet
         Fighter("Felicitas the Phoenix", 75, 51, 62, 29)
Felicitas the Phoenix won against Quail Chet
         Fighter("Fiery Mango", 95, 63, 30, 18)
Felicitas the Phoenix won against Fiery Mango
         Fighter("Hunter Cordae", 88, 61, 35, 25)
Felicitas the Phoenix won against Hunter Cordae
         Fighter("Furry Rogue", 98, 57, 27, 31)
Felicitas the Phoenix won against Furry Rogue
         Fighter("Sheltering Violin", 76, 57, 52, 30)
Felicitas the Phoenix won against Sheltering Violin
         Fighter("Wise Maison", 95, 64, 28, 19)
Felicitas the Phoenix won against Wise Maison
         Fighter("Unreliable Warrior", 47, 60, 32, 94)
Felicitas the Phoenix won against Unreliable Warrior
         Fighter("Devany the Mouse", 68, 60, 68, 21)
Felicitas the Phoenix lost against Devany the Mouse
         Fighter("Dynamic Giraffe", 67, 49, 38, 85)
Dynamic Giraffe lost against Devany the Mouse
         Fighter("Merciful Giant", 91, 17, 80, 69)
Merciful Giant won against Devany the Mouse
         Fighter("Yuina the Scissors", 64, 46, 74, 50)
Merciful Giant won against Yuina the Scissors
         Fighter("Scissors Melis", 61, 45, 106, 17)
Merciful Giant lost against Scissors Melis
         Fighter("Kru the Melodious", 53, 80, 78, 20)
Kru the Melodious won against Scissors Melis
         Fighter("Cube Stratton", 47, 51, 30, 121)
Kru the Melodious won against Cube Stratton
         Fighter("Boot Fia", 71, 48, 37, 82)
Kru the Melodious won against Boot Fia
         Fighter("Lawyer Hazlee", 63, 85, 23, 37)
Kru the Melodious lost against Lawyer Hazlee
         Fighter("Daring Ambros", 35, 78, 94, 51)
Daring Ambros won against Lawyer Hazlee
         Fighter("Rikki the Blueberry", 76, 56, 52, 32)
Daring Ambros won against Rikki the Blueberry
         Fighter("Camillo the Ninja", 140, 41, 26, 15)
Daring Ambros lost against Camillo the Ninja
         Fighter("Alexsander the Pteranodon", 82, 39, 46, 77)
Alexsander the Pteranodon won against Camillo the Ninja
         Fighter("Turbo Alanny", 138, 41, 28, 11)
Alexsander the Pteranodon won against Turbo Alanny
         Fighter("Curious Marin", 92, 66, 29, 19)
Alexsander the Pteranodon won against Curious Marin
         Fighter("Sladen the Violet", 67, 60, 69, 22)
Alexsander the Pteranodon lost against Sladen the Violet
         Fighter("Brock the Nutritious", 52, 59, 76, 50)
Brock the Nutritious lost against Sladen the Violet
         Fighter("Nane the Balanced", 44, 56, 70, 79)
Nane the Balanced lost against Sladen the Violet
         Fighter("Sphere Yareli", 68, 76, 19, 46)
Sphere Yareli won against Sladen the Violet
         Fighter("Elier the Laptop", 42, 135, 19, 26)
Sphere Yareli won against Elier the Laptop
         Fighter("Garren the Sword", 44, 62, 18, 104)
Sphere Yareli won against Garren the Sword
         Fighter("Fish Roanan", 86, 64, 43, 12)
Sphere Yareli lost against Fish Roanan
         Fighter("Zinc Goldfish", 68, 84, 45, 14)
Zinc Goldfish won against Fish Roanan
         Fighter("Merciful Mantis", 57, 97, 32, 27)
Zinc Goldfish lost against Merciful Mantis
         Fighter("Xtreme Iguana", 37, 81, 16, 79)
Xtreme Iguana won against Merciful Mantis
         Fighter("Elegant Symir", 98, 64, 30, 12)
Xtreme Iguana lost against Elegant Symir
         Fighter("Blind Gamer", 68, 57, 36, 64)
Blind Gamer won against Elegant Symir
         Fighter("Xact Butler", 41, 139, 13, 27)
Blind Gamer won against Xact Butler

LoadError: BoundsError: attempt to access 100-element Vector{Fighter} at index [101]

In [30]:
a_i, b_i

(94, 101)